{% extends "_layout.njk" %}

{% block head %}{% endblock %}

{% block body %}

    <div class="center">
        <p>
            oops... no such followee :-/
        </p>
    </div>
    
{% endblock %}