{% extends "_map_layout.njk" %}

{% block ticker %}
    reporting<span id="dots"></span><br/>
    <span>
        share
        <a href="/{{ id }}/follow")>link</a> |
        <a href="whatsapp://send?text=Follow me here: https://www.whenareyouhere.online/{{ id | urlencode }}/follow")>whatsapp</a>
        with followers
    </span>
{% endblock %}

{% block scripts %}

    <script>
        function update(position) {
            var pos = { lat: position.coords.latitude, lng: position.coords.longitude };

            marker.setMap(null);
            marker = new google.maps.Marker({
                position: pos,
                map: map
            }); 

            map.setCenter(pos);

            $.ajax('/{{ id }}/report', {
                method: "POST",
                data: pos,
                success: function() {
                    $("#error").hide();
                    adddot();
                },
                error: function(err) {
                    // cannot reach server (no network?)
                    $("#error").html(err.responseText || "cannot send location :-/"); 
                    $("#error").show();
                }
            });
        }

        $(function() {
            navigator.geolocation.watchPosition(update, error, {
                enableHighAccuracy: true,
            });
        })

    </script>

{% endblock %}

