{% extends "_layout.njk" %}

{% block head %}{% endblock %}

{% block body %}

    <div class="center">
        <p>
            <a href="/start" class="btn-start">follow me!</a>
        </p>
		<br/>
		<p class="github-link">
				<a href="https://github.com/nivnoach/trackme">
					<img src="/images/github-10-xxl.png" alt="visit project on git hub"/>
				</a>
		</p>
    </div>
	
{% endblock %}