{% extends "_layout.njk" %}

{% block head %}{% endblock %}

{% block body %}

    <div class="center">
        <p>
            <a href="/start" class="btn-start">follow me!</a>
        </p>
    </div>
    
{% endblock %}